<p-toolbar>
  <div class="p-toolbar-group-start">
    <button pButton type="button" [label]="'menu.home' | translate" class="p-button-text" routerLink="/"></button>
    <button pButton type="button" [label]="'menu.companies' | translate" class="p-button-text" routerLink="/companies"></button>
    <button pButton type="button" [label]="'menu.contacts' | translate" class="p-button-text" routerLink="/contacts"></button>
    <button pButton type="button" [label]="'menu.addresses' | translate" class="p-button-text" routerLink="/addresses"></button>
  </div>
</p-toolbar>
