<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton type="button" label="Home" class="p-button-text" routerLink="/"></button>
        <button pButton type="button" label="Companies" class="p-button-text" routerLink="/companies"></button>
        <button pButton type="button" label="Contacts" class="p-button-text" routerLink="/contacts"></button>
        <button pButton type="button" label="Addresses" class="p-button-text" routerLink="/addresses"></button>
    </div>
</p-toolbar>

<div class="content">
    <router-outlet></router-outlet>
</div>
