<div class="card">
    <h2>{{ isEditMode ? ('company.edit' | translate) : ('company.new' | translate) }}</h2>
    <form [formGroup]="companyForm" >
      <div class="flex flex-col gap-2">
        <div class="field">
          <span class="p-float-label">
            <input id="name" type="text" pInputText formControlName="name" class="w-full">
            <label for="name">{{ 'company.name' | translate }}</label>
          </span>
          <small *ngIf="companyForm.controls['name'].invalid && companyForm.controls['name'].touched" class="p-error">{{'validations.required' | translate}}</small>
        </div>
        <div class="field">
          <span class="p-float-label">
            <input id="description" type="text" pInputText formControlName="description" class="w-full">
            <label for="description">{{ 'company.description' | translate }}</label>
          </span>
          <small *ngIf="companyForm.controls['description'].invalid && companyForm.controls['description'].touched" class="p-error">{{'validations.required' | translate}}</small>
        </div>
        <div class="field">
          <span class="p-float-label">
            <input id="cnpj" type="text" pInputText formControlName="cnpj" class="w-full">
            <label for="cnpj">{{ 'company.cnpj' | translate }}</label>
          </span>
          <small *ngIf="companyForm.controls['cnpj'].invalid && companyForm.controls['cnpj'].touched" class="p-error">{{'validations.cnpj' | translate}}</small>
        </div>
        <div class="field">
          <span class="p-float-label">
            <p-calendar id="dateFounded" formControlName="dateFounded" dateFormat="yy-mm-dd" class="w-full"></p-calendar>
            <label for="dateFounded">{{ 'company.dateFounded' | translate }}</label>
          </span>
          <small *ngIf="companyForm.controls['dateFounded'].invalid && companyForm.controls['dateFounded'].touched" class="p-error">{{'validations.dateFounded' | translate}}</small>
        </div>
      </div>
      <div class="flex justify-content-end gap-2 mt-2">
        <button pButton pRipple [label]="'buttons.save' | translate" icon="pi pi-check" class="p-button-success" (click)="save()" [disabled]="companyForm.invalid"></button>
        <button pButton pRipple [label]="'buttons.cancel' | translate" icon="pi pi-times" class="p-button-secondary" (click)="cancel()"></button>
      </div>
    </form>
</div>
