<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<div class="card">
    <p-toolbar styleClass="mb-2">
        <div class="p-toolbar-group-start">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success" (click)="addNew()"></button>
        </div>
    </p-toolbar>

    <p-table [value]="addresses" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="header">
            <tr>
                <th class="p-2">Street</th>
                <th class="p-2">City</th>
                <th class="p-2">State</th>
                <th class="p-2">Zip Code</th>
                <th class="p-2">Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-address>
            <tr>
                <td class="p-2">{{address.street}}</td>
                <td class="p-2">{{address.city}}</td>
                <td class="p-2">{{address.state}}</td>
                <td class="p-2">{{address.zipCode}}</td>
                <td class="p-2">
                    <div class="flex gap-2">
                        <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info" (click)="viewDetails(address)"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteAddress(address)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Address Details" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false">
    <div *ngIf="selectedAddress">
        <p><strong>Street:</strong> {{selectedAddress.street}}</p>
        <p><strong>City:</strong> {{selectedAddress.city}}</p>
        <p><strong>State:</strong> {{selectedAddress.state}}</p>
        <p><strong>Zip Code:</strong> {{selectedAddress.zipCode}}</p>
    </div>
</p-dialog>
