<div class="card">
    <h2>{{ isEditMode ? 'Edit Address' : 'New Address' }}</h2>
    <form [formGroup]="addressForm" (ngSubmit)="save()">
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-6">
          <label for="zip">{{ 'address.zip' | translate }}</label>
          <input id="zip" type="text" pInputText formControlName="zip">
        </div>
      </div>
      <div class="p-toolbar-group-end mt-2">
        <button pButton pRipple [label]="'buttons.save' | translate" icon="pi pi-check" class="p-button-success" type="submit" [disabled]="addressForm.invalid"></button>
        <button pButton pRipple [label]="'buttons.cancel' | translate" icon="pi pi-times" class="p-button-secondary ml-2" (click)="cancel()"></button>
      </div>
    </form>
</div>
